# Ignore output directory where downloaded videos are stored
slide-builder/output/
pdf-numbering/unnumbered/
pdf-numbering/numbered/
pdf-creator/output/

# Python virtual environments
venv/
env/
.env
.env.backup
.config.json
slide-builder/.config.json
config.json
slide-builder/.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 
.config.json
